<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297053217906-eq0b2pt8euerpc13e1gch3vk35bg4sst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297053217906-eq0b2pt8euerpc13e1gch3vk35bg4sst</string>
	<key>API_KEY</key>
	<string>AIzaSyBmLYmHVlkRVqjV-m5GdV13EAtWTaFQz08</string>
	<key>GCM_SENDER_ID</key>
	<string>297053217906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peerhealthtest.peerHealthTest</string>
	<key>PROJECT_ID</key>
	<string>peer-health-test</string>
	<key>STORAGE_BUCKET</key>
	<string>peer-health-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297053217906:ios:0912e6e24a1449f2ec4eeb</string>
</dict>
</plist>